/* Base Styles */
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.button {
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

/* Header */
.logo-dark {
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-link {
  color: #2e2f42;
}

.contact-link {
  color: #434455;
}

/* Hero Section */
.hero-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  display: flex; /* Use flex to apply the gap */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  text-align: center;
}

.button {
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-family: Roboto;
  font-size: 16px;
}

/* Span Elements */
.title-top {
  display: block;
}

.title-bottom {
  display: block;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

/* Our Advantages section */
.advantages-section {
  background-color: #ffffff; /* White background */
  height: 344px; /* Section height */
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Optional: Add some horizontal padding */
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1128px;
}

.advantages-list li {
  text-align: left;
  margin: 0;
  flex: 1;
  padding: 0 15px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.advantages-list h3 {
  
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;

}

.advantages-list p {
  font-size: 14px;
  margin: 0;
}

